@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?osk17d');
  src:  url('../fonts/icomoon.eot?osk17d#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?osk17d') format('truetype'),
    url('../fonts/icomoon.woff?osk17d') format('woff'),
    url('../fonts/icomoon.svg?osk17d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-api:before {
  content: "\e903";
}
.icon-provisioning:before {
  content: "\e902";
}
.icon-account-activity:before {
  content: "\e900";
}
.icon-new-feature:before {
  content: "\e901";
}
.icon-icon_startencode:before {
  content: "\e61f";
}
.icon-icon_ftp:before {
  content: "\e61e";
}
.icon-podcast3:before {
  content: "\e612";
}
.icon-indent-increase:before {
  content: "\e613";
}
.icon-stack-play:before {
  content: "\e614";
}
.icon-film4:before {
  content: "\e615";
}
.icon-play3:before {
  content: "\e616";
}
.icon-grid5:before {
  content: "\e617";
}
.icon-table2:before {
  content: "\e618";
}
.icon-feed2:before {
  content: "\e619";
}
.icon-upload:before {
  content: "\e61a";
}
.icon-link:before {
  content: "\e61b";
}
.icon-file-plus2:before {
  content: "\e611";
}
.icon-compass:before {
  content: "\e610";
}
.icon-traffic:before {
  content: "\e60f";
}
.icon-httpCaching:before {
  content: "\e60a";
}
.icon-hosts:before {
  content: "\e60b";
}
.icon-EncodingProfiles:before {
  content: "\e61c";
}
.icon-tags:before {
  content: "\e61d";
}
.icon-box:before {
  content: "\e603";
}
.icon-arrow-up3:before {
  content: "\e605";
}
.icon-arrow-right:before {
  content: "\e602";
}
.icon-arrow-left:before {
  content: "\e606";
}
.icon-arrow-right2:before {
  content: "\e607";
}
.icon-office:before {
  content: "\e00b";
}
.icon-newspaper:before {
  content: "\e00c";
}
.icon-pencil3:before {
  content: "\e012";
}
.icon-marker:before {
  content: "\e01b";
}
.icon-eyedropper:before {
  content: "\e024";
}
.icon-droplet:before {
  content: "\e025";
}
.icon-paint-format:before {
  content: "\e029";
}
.icon-image:before {
  content: "\e02b";
}
.icon-image2:before {
  content: "\e033";
}
.icon-camera2:before {
  content: "\e034";
}
.icon-music:before {
  content: "\e03c";
}
.icon-guitar:before {
  content: "\e03f";
}
.icon-headphones:before {
  content: "\e041";
}
.icon-play:before {
  content: "\e042";
}
.icon-movie2:before {
  content: "\e045";
}
.icon-film:before {
  content: "\e047";
}
.icon-film2:before {
  content: "\e048";
}
.icon-film3:before {
  content: "\e049";
}
.icon-film5:before {
  content: "\e04a";
}
.icon-camera3:before {
  content: "\e04f";
}
.icon-gamepad:before {
  content: "\e053";
}
.icon-bullhorn:before {
  content: "\e05f";
}
.icon-megaphone:before {
  content: "\e060";
}
.icon-new:before {
  content: "\e061";
}
.icon-connection:before {
  content: "\e062";
}
.icon-radio2:before {
  content: "\e066";
}
.icon-feed:before {
  content: "\e067";
}
.icon-connection2:before {
  content: "\e068";
}
.icon-radio3:before {
  content: "\e069";
}
.icon-podcast:before {
  content: "\e06a";
}
.icon-podcast2:before {
  content: "\e06b";
}
.icon-mic:before {
  content: "\e06d";
}
.icon-mic2:before {
  content: "\e06e";
}
.icon-mic3:before {
  content: "\e06f";
}
.icon-book:before {
  content: "\e070";
}
.icon-book2:before {
  content: "\e071";
}
.icon-books:before {
  content: "\e072";
}
.icon-reading:before {
  content: "\e073";
}
.icon-library:before {
  content: "\e074";
}
.icon-library2:before {
  content: "\e075";
}
.icon-graduation:before {
  content: "\e076";
}
.icon-file2:before {
  content: "\e078";
}
.icon-profile:before {
  content: "\e079";
}
.icon-file3:before {
  content: "\e07a";
}
.icon-file4:before {
  content: "\e07b";
}
.icon-file5:before {
  content: "\e07c";
}
.icon-file6:before {
  content: "\e07d";
}
.icon-files:before {
  content: "\e07e";
}
.icon-file-plus:before {
  content: "\e07f";
}
.icon-file-minus:before {
  content: "\e080";
}
.icon-file-download:before {
  content: "\e081";
}
.icon-file-upload:before {
  content: "\e082";
}
.icon-file7:before {
  content: "\e085";
}
.icon-file8:before {
  content: "\e086";
}
.icon-file-plus3:before {
  content: "\e087";
}
.icon-file-minus2:before {
  content: "\e088";
}
.icon-file9:before {
  content: "\e08d";
}
.icon-copy:before {
  content: "\e08e";
}
.icon-copy2:before {
  content: "\e08f";
}
.icon-copy3:before {
  content: "\e091";
}
.icon-paste:before {
  content: "\e092";
}
.icon-folder-plus:before {
  content: "\e09b";
}
.icon-folder-minus:before {
  content: "\e09d";
}
.icon-folder2:before {
  content: "\e0ad";
}
.icon-folder-open2:before {
  content: "\e0ae";
}
.icon-tags2:before {
  content: "\e0ba";
}
.icon-tag:before {
  content: "\e0bc";
}
.icon-barcode:before {
  content: "\e0be";
}
.icon-qrcode:before {
  content: "\e0bf";
}
.icon-ticket:before {
  content: "\e0c0";
}
.icon-cart:before {
  content: "\e0c2";
}
.icon-cart-plus:before {
  content: "\e0c8";
}
.icon-cart-minus:before {
  content: "\e0c9";
}
.icon-cart-add:before {
  content: "\e0ca";
}
.icon-cart-remove:before {
  content: "\e0cb";
}
.icon-cart-checkout:before {
  content: "\e0cc";
}
.icon-cart-remove2:before {
  content: "\e0cd";
}
.icon-basket:before {
  content: "\e0ce";
}
.icon-bag:before {
  content: "\e0d2";
}
.icon-coin:before {
  content: "\e0d3";
}
.icon-coins:before {
  content: "\e0d4";
}
.icon-credit:before {
  content: "\e0d6";
}
.icon-calculate:before {
  content: "\e0d8";
}
.icon-phone:before {
  content: "\e0dc";
}
.icon-phone2:before {
  content: "\e0dd";
}
.icon-contact-add:before {
  content: "\e0de";
}
.icon-contact-remove:before {
  content: "\e0df";
}
.icon-contact-add2:before {
  content: "\e0e0";
}
.icon-contact-remove2:before {
  content: "\e0e1";
}
.icon-call-incoming:before {
  content: "\e0e2";
}
.icon-call-outgoing:before {
  content: "\e0e3";
}
.icon-phone-hang-up:before {
  content: "\e0e6";
}
.icon-address-book:before {
  content: "\e0e8";
}
.icon-notebook:before {
  content: "\e0ea";
}
.icon-envelope:before {
  content: "\e0eb";
}
.icon-envelope2:before {
  content: "\e0ec";
}
.icon-mail-send:before {
  content: "\e0ed";
}
.icon-envelope-opened:before {
  content: "\e0ee";
}
.icon-pushpin:before {
  content: "\e0f0";
}
.icon-location:before {
  content: "\e0f1";
}
.icon-compass2:before {
  content: "\e0f8";
}
.icon-compass3:before {
  content: "\e0f9";
}
.icon-map:before {
  content: "\e0fd";
}
.icon-direction:before {
  content: "\e0fe";
}
.icon-history2:before {
  content: "\e100";
}
.icon-clock:before {
  content: "\e101";
}
.icon-clock2:before {
  content: "\e102";
}
.icon-clock3:before {
  content: "\e103";
}
.icon-clock4:before {
  content: "\e107";
}
.icon-alarm:before {
  content: "\e10a";
}
.icon-bell2:before {
  content: "\e10d";
}
.icon-stopwatch:before {
  content: "\e111";
}
.icon-calendar:before {
  content: "\e112";
}
.icon-calendar2:before {
  content: "\e115";
}
.icon-print:before {
  content: "\e118";
}
.icon-print2:before {
  content: "\e119";
}
.icon-mouse:before {
  content: "\e11b";
}
.icon-keyboard:before {
  content: "\e11e";
}
.icon-screen:before {
  content: "\e120";
}
.icon-screen2:before {
  content: "\e123";
}
.icon-laptop:before {
  content: "\e124";
}
.icon-mobile:before {
  content: "\e125";
}
.icon-mobile2:before {
  content: "\e126";
}
.icon-mobile3:before {
  content: "\e128";
}
.icon-cabinet:before {
  content: "\e12a";
}
.icon-archive2:before {
  content: "\e12c";
}
.icon-drawer:before {
  content: "\e12d";
}
.icon-drawer2:before {
  content: "\e12e";
}
.icon-drawer3:before {
  content: "\e12f";
}
.icon-box2:before {
  content: "\e130";
}
.icon-box-add:before {
  content: "\e131";
}
.icon-box-remove:before {
  content: "\e132";
}
.icon-download2:before {
  content: "\e133";
}
.icon-upload2:before {
  content: "\e134";
}
.icon-disk:before {
  content: "\e135";
}
.icon-cd:before {
  content: "\e136";
}
.icon-storage:before {
  content: "\e137";
}
.icon-database:before {
  content: "\e138";
}
.icon-unite:before {
  content: "\e141";
}
.icon-exclude:before {
  content: "\e144";
}
.icon-undo:before {
  content: "\e14b";
}
.icon-redo:before {
  content: "\e14c";
}
.icon-forward:before {
  content: "\e14d";
}
.icon-reply:before {
  content: "\e14e";
}
.icon-reply2:before {
  content: "\e14f";
}
.icon-bubble:before {
  content: "\e164";
}
.icon-bubble-dots:before {
  content: "\e165";
}
.icon-bubble2:before {
  content: "\e166";
}
.icon-bubbles:before {
  content: "\e16b";
}
.icon-bubble-blocked:before {
  content: "\e16c";
}
.icon-bubble-quote:before {
  content: "\e16d";
}
.icon-bubble-check:before {
  content: "\e16f";
}
.icon-bubble-video-chat:before {
  content: "\e170";
}
.icon-bubble-link:before {
  content: "\e171";
}
.icon-bubble-locked:before {
  content: "\e172";
}
.icon-bubble-star:before {
  content: "\e173";
}
.icon-bubble-heart:before {
  content: "\e174";
}
.icon-bubble-paperclip:before {
  content: "\e175";
}
.icon-bubble-cancel:before {
  content: "\e176";
}
.icon-bubble-plus:before {
  content: "\e177";
}
.icon-bubble-minus:before {
  content: "\e178";
}
.icon-bubble-notification:before {
  content: "\e179";
}
.icon-bubble-trash:before {
  content: "\e17a";
}
.icon-bubble-left:before {
  content: "\e17b";
}
.icon-bubble-right:before {
  content: "\e17c";
}
.icon-bubble-up:before {
  content: "\e17d";
}
.icon-bubble-down:before {
  content: "\e17e";
}
.icon-bubble-first:before {
  content: "\e17f";
}
.icon-bubble-last:before {
  content: "\e180";
}
.icon-bubble-replu:before {
  content: "\e181";
}
.icon-bubble-forward:before {
  content: "\e182";
}
.icon-bubble-reply:before {
  content: "\e183";
}
.icon-bubble-forward2:before {
  content: "\e184";
}
.icon-users2:before {
  content: "\e187";
}
.icon-user-plus:before {
  content: "\e188";
}
.icon-user-plus2:before {
  content: "\e189";
}
.icon-user-minus:before {
  content: "\e18a";
}
.icon-user-minus2:before {
  content: "\e18b";
}
.icon-user-cancel:before {
  content: "\e18c";
}
.icon-user-block:before {
  content: "\e18d";
}
.icon-user2:before {
  content: "\e199";
}
.icon-vcard2:before {
  content: "\e19d";
}
.icon-tshirt:before {
  content: "\e19e";
}
.icon-hanger:before {
  content: "\e19f";
}
.icon-quotes-left:before {
  content: "\e1a0";
}
.icon-quotes-right:before {
  content: "\e1a1";
}
.icon-busy:before {
  content: "\e1a6";
}
.icon-spinner:before {
  content: "\e1a7";
}
.icon-spinner2:before {
  content: "\e1aa";
}
.icon-spinner3:before {
  content: "\e1ad";
}
.icon-spinner4:before {
  content: "\e1ae";
}
.icon-spinner5:before {
  content: "\e1af";
}
.icon-spinner6:before {
  content: "\e1b0";
}
.icon-spinner7:before {
  content: "\e1b2";
}
.icon-binoculars:before {
  content: "\e1b5";
}
.icon-search2:before {
  content: "\e1b7";
}
.icon-search3:before {
  content: "\e1bb";
}
.icon-zoomin:before {
  content: "\e1bc";
}
.icon-zoomout:before {
  content: "\e1bd";
}
.icon-expand:before {
  content: "\e1bf";
}
.icon-contract:before {
  content: "\e1c0";
}
.icon-fullscreen:before {
  content: "\e1c7";
}
.icon-expand2:before {
  content: "\e1c8";
}
.icon-contract2:before {
  content: "\e1c9";
}
.icon-key:before {
  content: "\e1ca";
}
.icon-key2:before {
  content: "\e1cb";
}
.icon-key3:before {
  content: "\e1ce";
}
.icon-keyhole:before {
  content: "\e1cf";
}
.icon-lock2:before {
  content: "\e1d0";
}
.icon-lock3:before {
  content: "\e1d1";
}
.icon-lock4:before {
  content: "\e1d4";
}
.icon-unlocked:before {
  content: "\e1d5";
}
.icon-lock5:before {
  content: "\e1d6";
}
.icon-unlocked2:before {
  content: "\e1d8";
}
.icon-wrench2:before {
  content: "\e1d9";
}
.icon-wrench3:before {
  content: "\e1da";
}
.icon-settings:before {
  content: "\e1db";
}
.icon-cogs2:before {
  content: "\e1e2";
}
.icon-cog2:before {
  content: "\e1e3";
}
.icon-factory:before {
  content: "\e1e7";
}
.icon-tools2:before {
  content: "\e1ea";
}
.icon-screwdriver:before {
  content: "\e1eb";
}
.icon-screwdriver2:before {
  content: "\e1ec";
}
.icon-wand:before {
  content: "\e1ed";
}
.icon-health:before {
  content: "\e1ee";
}
.icon-aid:before {
  content: "\e1ef";
}
.icon-patch:before {
  content: "\e1f0";
}
.icon-inject:before {
  content: "\e1f4";
}
.icon-construction:before {
  content: "\e1f5";
}
.icon-cone:before {
  content: "\e1f6";
}
.icon-pie:before {
  content: "\e1f7";
}
.icon-pie2:before {
  content: "\e1f8";
}
.icon-pie3:before {
  content: "\e1f9";
}
.icon-pie4:before {
  content: "\e1fa";
}
.icon-pie5:before {
  content: "\e1fc";
}
.icon-pie6:before {
  content: "\e1fd";
}
.icon-stats:before {
  content: "\e1fe";
}
.icon-stats2:before {
  content: "\e1ff";
}
.icon-stats3:before {
  content: "\e200";
}
.icon-bars2:before {
  content: "\e201";
}
.icon-bars3:before {
  content: "\e202";
}
.icon-bars4:before {
  content: "\e203";
}
.icon-stats-up:before {
  content: "\e207";
}
.icon-stats-down:before {
  content: "\e208";
}
.icon-chart:before {
  content: "\e20b";
}
.icon-ladder:before {
  content: "\e20e";
}
.icon-podium:before {
  content: "\e216";
}
.icon-medal:before {
  content: "\e217";
}
.icon-medal2:before {
  content: "\e218";
}
.icon-medal3:before {
  content: "\e219";
}
.icon-medal4:before {
  content: "\e21a";
}
.icon-medal5:before {
  content: "\e21b";
}
.icon-crown:before {
  content: "\e21c";
}
.icon-trophy:before {
  content: "\e21e";
}
.icon-glass:before {
  content: "\e222";
}
.icon-glass2:before {
  content: "\e223";
}
.icon-bottle:before {
  content: "\e224";
}
.icon-mug:before {
  content: "\e226";
}
.icon-food:before {
  content: "\e228";
}
.icon-cup:before {
  content: "\e22a";
}
.icon-cup2:before {
  content: "\e22b";
}
.icon-leaf:before {
  content: "\e22c";
}
.icon-rocket:before {
  content: "\e234";
}
.icon-meter:before {
  content: "\e235";
}
.icon-meter22:before {
  content: "\e236";
}
.icon-meter-slow:before {
  content: "\e237";
}
.icon-meter-medium:before {
  content: "\e238";
}
.icon-meter-fast:before {
  content: "\e239";
}
.icon-dashboard:before {
  content: "\e23a";
}
.icon-hammer:before {
  content: "\e23b";
}
.icon-bomb:before {
  content: "\e23d";
}
.icon-fire:before {
  content: "\e23f";
}
.icon-lab:before {
  content: "\e240";
}
.icon-atom:before {
  content: "\e241";
}
.icon-atom2:before {
  content: "\e242";
}
.icon-skull:before {
  content: "\e248";
}
.icon-skull2:before {
  content: "\e249";
}
.icon-lamp:before {
  content: "\e24d";
}
.icon-lamp2:before {
  content: "\e24e";
}
.icon-remove2:before {
  content: "\e24f";
}
.icon-remove3:before {
  content: "\e250";
}
.icon-remove4:before {
  content: "\e254";
}
.icon-briefcase:before {
  content: "\e257";
}
.icon-briefcase2:before {
  content: "\e258";
}
.icon-briefcase3:before {
  content: "\e259";
}
.icon-airplane:before {
  content: "\e25b";
}
.icon-paperplane:before {
  content: "\e25c";
}
.icon-truck:before {
  content: "\e260";
}
.icon-road:before {
  content: "\e262";
}
.icon-ship:before {
  content: "\e264";
}
.icon-boat:before {
  content: "\e265";
}
.icon-cube:before {
  content: "\e266";
}
.icon-cube2:before {
  content: "\e267";
}
.icon-cube3:before {
  content: "\e268";
}
.icon-puzzle:before {
  content: "\e26e";
}
.icon-puzzle2:before {
  content: "\e270";
}
.icon-sunglasses:before {
  content: "\e275";
}
.icon-brain:before {
  content: "\e278";
}
.icon-target:before {
  content: "\e279";
}
.icon-target2:before {
  content: "\e27a";
}
.icon-target3:before {
  content: "\e27b";
}
.icon-shield:before {
  content: "\e27e";
}
.icon-shield2:before {
  content: "\e27f";
}
.icon-lightning:before {
  content: "\e28d";
}
.icon-switch:before {
  content: "\e290";
}
.icon-powercord:before {
  content: "\e291";
}
.icon-clipboard:before {
  content: "\e294";
}
.icon-clipboard2:before {
  content: "\e295";
}
.icon-signup:before {
  content: "\e296";
}
.icon-clipboard3:before {
  content: "\e297";
}
.icon-clipboard4:before {
  content: "\e298";
}
.icon-list2:before {
  content: "\e299";
}
.icon-list3:before {
  content: "\e29b";
}
.icon-numbered-list:before {
  content: "\e29c";
}
.icon-list4:before {
  content: "\e29d";
}
.icon-list5:before {
  content: "\e29e";
}
.icon-playlist:before {
  content: "\e29f";
}
.icon-grid:before {
  content: "\e2a0";
}
.icon-grid2:before {
  content: "\e2a1";
}
.icon-grid3:before {
  content: "\e2a2";
}
.icon-grid4:before {
  content: "\e2a3";
}
.icon-grid6:before {
  content: "\e2a4";
}
.icon-grid7:before {
  content: "\e2a5";
}
.icon-tree2:before {
  content: "\e2a8";
}
.icon-three-dots-vert:before {
  content: "\e2aa";
}
.icon-circle-small:before {
  content: "\e2ab";
}
.icon-menu4:before {
  content: "\e2ad";
}
.icon-menu5:before {
  content: "\e2ae";
}
.icon-menu6:before {
  content: "\e2b0";
}
.icon-menu7:before {
  content: "\e2b1";
}
.icon-menu8:before {
  content: "\e2b2";
}
.icon-menu9:before {
  content: "\e2b3";
}
.icon-menu10:before {
  content: "\e2b4";
}
.icon-cloud2:before {
  content: "\e2b6";
}
.icon-cloud3:before {
  content: "\e2b7";
}
.icon-cloud-download:before {
  content: "\e2b9";
}
.icon-cloud-upload:before {
  content: "\e2ba";
}
.icon-download3:before {
  content: "\e2bb";
}
.icon-upload3:before {
  content: "\e2bc";
}
.icon-download4:before {
  content: "\e2bd";
}
.icon-upload4:before {
  content: "\e2be";
}
.icon-download5:before {
  content: "\e2c0";
}
.icon-upload5:before {
  content: "\e2c1";
}
.icon-globe2:before {
  content: "\e2c5";
}
.icon-globe3:before {
  content: "\e2c6";
}
.icon-earth:before {
  content: "\e2c7";
}
.icon-network2:before {
  content: "\e2c9";
}
.icon-link2:before {
  content: "\e2ca";
}
.icon-link3:before {
  content: "\e2cb";
}
.icon-link4:before {
  content: "\e2cf";
}
.icon-anchor:before {
  content: "\e2d0";
}
.icon-flag:before {
  content: "\e2d5";
}
.icon-attachment:before {
  content: "\e2d7";
}
.icon-attachment2:before {
  content: "\e2d8";
}
.icon-eye2:before {
  content: "\e2d9";
}
.icon-eye-blocked:before {
  content: "\e2da";
}
.icon-bookmark:before {
  content: "\e2e3";
}
.icon-bookmarks:before {
  content: "\e2e5";
}
.icon-bookmark2:before {
  content: "\e2e6";
}
.icon-starburst:before {
  content: "\e2e8";
}
.icon-temperature:before {
  content: "\e2ea";
}
.icon-temperature2:before {
  content: "\e2eb";
}
.icon-weather-lightning:before {
  content: "\e2ec";
}
.icon-weather-rain:before {
  content: "\e2ed";
}
.icon-weather-snow:before {
  content: "\e2ee";
}
.icon-windy:before {
  content: "\e2ef";
}
.icon-umbrella:before {
  content: "\e2f1";
}
.icon-brightness-medium:before {
  content: "\e2f5";
}
.icon-brightness-low:before {
  content: "\e2f6";
}
.icon-brightness-contrast:before {
  content: "\e2f7";
}
.icon-star:before {
  content: "\e2fc";
}
.icon-star2:before {
  content: "\e2fd";
}
.icon-star3:before {
  content: "\e2fe";
}
.icon-star4:before {
  content: "\e301";
}
.icon-heart:before {
  content: "\e30a";
}
.icon-thumbs-up:before {
  content: "\e313";
}
.icon-thumbs-up2:before {
  content: "\e314";
}
.icon-people:before {
  content: "\e317";
}
.icon-man:before {
  content: "\e318";
}
.icon-woman:before {
  content: "\e31a";
}
.icon-cursor:before {
  content: "\e338";
}
.icon-hand:before {
  content: "\e33f";
}
.icon-stack-empty2:before {
  content: "\e341";
}
.icon-stack-picture:before {
  content: "\e344";
}
.icon-stack-down:before {
  content: "\e345";
}
.icon-stack-up:before {
  content: "\e346";
}
.icon-stack-list:before {
  content: "\e349";
}
.icon-stack-user:before {
  content: "\e34e";
}
.icon-stack2:before {
  content: "\e34f";
}
.icon-stack-music:before {
  content: "\e350";
}
.icon-stack-play2:before {
  content: "\e351";
}
.icon-move:before {
  content: "\e352";
}
.icon-resize:before {
  content: "\e353";
}
.icon-resize2:before {
  content: "\e354";
}
.icon-warning2:before {
  content: "\e356";
}
.icon-notification2:before {
  content: "\e359";
}
.icon-question:before {
  content: "\e35c";
}
.icon-plus-circle:before {
  content: "\e35e";
}
.icon-plus-circle2:before {
  content: "\e35f";
}
.icon-minus-circle2:before {
  content: "\e360";
}
.icon-minus-circle3:before {
  content: "\e361";
}
.icon-info2:before {
  content: "\e365";
}
.icon-blocked2:before {
  content: "\e366";
}
.icon-close4:before {
  content: "\e36c";
}
.icon-close5:before {
  content: "\e36f";
}
.icon-close6:before {
  content: "\e371";
}
.icon-checkmark2:before {
  content: "\e372";
}
.icon-minus2:before {
  content: "\e377";
}
.icon-plus2:before {
  content: "\e378";
}
.icon-minus3:before {
  content: "\e37b";
}
.icon-plus3:before {
  content: "\e37c";
}
.icon-enter2:before {
  content: "\e37d";
}
.icon-exit2:before {
  content: "\e37e";
}
.icon-enter3:before {
  content: "\e37f";
}
.icon-exit3:before {
  content: "\e380";
}
.icon-play2:before {
  content: "\e381";
}
.icon-pause:before {
  content: "\e382";
}
.icon-stop:before {
  content: "\e383";
}
.icon-backward:before {
  content: "\e384";
}
.icon-forward2:before {
  content: "\e385";
}
.icon-play4:before {
  content: "\e386";
}
.icon-pause2:before {
  content: "\e387";
}
.icon-stop2:before {
  content: "\e388";
}
.icon-backward2:before {
  content: "\e389";
}
.icon-forward3:before {
  content: "\e38a";
}
.icon-first:before {
  content: "\e38b";
}
.icon-last:before {
  content: "\e38c";
}
.icon-previous:before {
  content: "\e38d";
}
.icon-next:before {
  content: "\e38e";
}
.icon-eject:before {
  content: "\e38f";
}
.icon-volume-high:before {
  content: "\e390";
}
.icon-volume-medium:before {
  content: "\e391";
}
.icon-volume-low:before {
  content: "\e392";
}
.icon-volume-mute:before {
  content: "\e393";
}
.icon-volume-mute2:before {
  content: "\e394";
}
.icon-volume-increase:before {
  content: "\e395";
}
.icon-volume-decrease:before {
  content: "\e396";
}
.icon-loop2:before {
  content: "\e3a5";
}
.icon-loop3:before {
  content: "\e3a7";
}
.icon-loop4:before {
  content: "\e3a8";
}
.icon-loop5:before {
  content: "\e3aa";
}
.icon-arrow-first:before {
  content: "\e3ae";
}
.icon-arrow-right3:before {
  content: "\e3af";
}
.icon-arrow-up4:before {
  content: "\e3b0";
}
.icon-arrow-right4:before {
  content: "\e3b1";
}
.icon-arrow-down3:before {
  content: "\e3b2";
}
.icon-arrow-left2:before {
  content: "\e3b3";
}
.icon-arrow-up5:before {
  content: "\e3b5";
}
.icon-arrow-right5:before {
  content: "\e3b7";
}
.icon-arrow-down4:before {
  content: "\e3b8";
}
.icon-arrow-left3:before {
  content: "\e3b9";
}
.icon-arrow-up-left:before {
  content: "\e3ba";
}
.icon-arrow-up6:before {
  content: "\e3bb";
}
.icon-arrow-up-right:before {
  content: "\e3bc";
}
.icon-arrow-right6:before {
  content: "\e3bd";
}
.icon-arrow-down-right:before {
  content: "\e3be";
}
.icon-arrow-down5:before {
  content: "\e3bf";
}
.icon-arrow-down-left:before {
  content: "\e3c0";
}
.icon-arrow-left4:before {
  content: "\e3c1";
}
.icon-arrow-up-left2:before {
  content: "\e3c2";
}
.icon-arrow-up7:before {
  content: "\e3c3";
}
.icon-arrow-up-right2:before {
  content: "\e3c4";
}
.icon-arrow-right7:before {
  content: "\e3c5";
}
.icon-arrow-down-right2:before {
  content: "\e3c6";
}
.icon-arrow-down6:before {
  content: "\e3c7";
}
.icon-arrow-down-left2:before {
  content: "\e3c8";
}
.icon-arrow-left5:before {
  content: "\e3c9";
}
.icon-arrow-up-left3:before {
  content: "\e3ca";
}
.icon-arrow-up8:before {
  content: "\e3cb";
}
.icon-arrow-up-right3:before {
  content: "\e3cc";
}
.icon-arrow-right8:before {
  content: "\e3cd";
}
.icon-arrow-down-right3:before {
  content: "\e3ce";
}
.icon-arrow-down7:before {
  content: "\e3cf";
}
.icon-arrow-down-left3:before {
  content: "\e3d0";
}
.icon-arrow-left6:before {
  content: "\e3d1";
}
.icon-arrow-up-left4:before {
  content: "\e3d2";
}
.icon-arrow-up9:before {
  content: "\e3d3";
}
.icon-arrow-up-right4:before {
  content: "\e3d4";
}
.icon-arrow-right9:before {
  content: "\e3d5";
}
.icon-arrow-down-right4:before {
  content: "\e3d6";
}
.icon-arrow-down8:before {
  content: "\e3d7";
}
.icon-arrow-down-left4:before {
  content: "\e3d8";
}
.icon-arrow-left7:before {
  content: "\e3d9";
}
.icon-arrow:before {
  content: "\e3da";
}
.icon-arrow2:before {
  content: "\e3db";
}
.icon-arrow3:before {
  content: "\e3de";
}
.icon-arrow4:before {
  content: "\e3df";
}
.icon-arrow-up-left5:before {
  content: "\e3e0";
}
.icon-arrowsquare:before {
  content: "\e3e1";
}
.icon-arrow-up-right5:before {
  content: "\e3e2";
}
.icon-arrow-right10:before {
  content: "\e3e3";
}
.icon-arrow-up10:before {
  content: "\e3e8";
}
.icon-arrow-right11:before {
  content: "\e3e9";
}
.icon-arrow-down9:before {
  content: "\e3ea";
}
.icon-arrow-left8:before {
  content: "\e3eb";
}
.icon-arrow-up11:before {
  content: "\e3ec";
}
.icon-arrow-right12:before {
  content: "\e3ed";
}
.icon-arrow-bottom:before {
  content: "\e3ee";
}
.icon-arrow-left9:before {
  content: "\e3ef";
}
.icon-arrow-up12:before {
  content: "\e408";
}
.icon-arrow-right13:before {
  content: "\e409";
}
.icon-arrow-down10:before {
  content: "\e40a";
}
.icon-arrow-left10:before {
  content: "\e40b";
}
.icon-arrow-up13:before {
  content: "\e40c";
}
.icon-arrow-right14:before {
  content: "\e40d";
}
.icon-arrow-down11:before {
  content: "\e40e";
}
.icon-arrow-left11:before {
  content: "\e40f";
}
.icon-menu11:before {
  content: "\e419";
}
.icon-enter4:before {
  content: "\e41c";
}
.icon-checkbox-unchecked:before {
  content: "\e42f";
}
.icon-square:before {
  content: "\e430";
}
.icon-checkbox-checked:before {
  content: "\e435";
}
.icon-checkbox-unchecked2:before {
  content: "\e436";
}
.icon-checkbox-partial:before {
  content: "\e437";
}
.icon-radio-checked:before {
  content: "\e438";
}
.icon-radio-unchecked:before {
  content: "\e439";
}
.icon-circle:before {
  content: "\e43a";
}
.icon-circle2:before {
  content: "\e43b";
}
.icon-crop:before {
  content: "\e43c";
}
.icon-rulers:before {
  content: "\e43f";
}
.icon-paragraph-justify2:before {
  content: "\e479";
}
.icon-newtab:before {
  content: "\e47c";
}
.icon-popout:before {
  content: "\e47e";
}
.icon-embed:before {
  content: "\e47f";
}
.icon-code2:before {
  content: "\e481";
}
.icon-share:before {
  content: "\e48c";
}
.icon-feed3:before {
  content: "\e4a0";
}
.icon-github:before {
  content: "\e4ba";
}
.icon-apple:before {
  content: "\e4c6";
}
.icon-windows8:before {
  content: "\e4ca";
}
.icon-linkedin:before {
  content: "\e4cf";
}
.icon-paypal:before {
  content: "\e4dd";
}
.icon-libreoffice:before {
  content: "\e4e1";
}
.icon-file-pdf:before {
  content: "\e4e2";
}
.icon-file-word:before {
  content: "\e4e4";
}
.icon-file-excel:before {
  content: "\e4e5";
}
.icon-file-zip:before {
  content: "\e4e6";
}
.icon-file-xml:before {
  content: "\e4e8";
}
.icon-file-css2:before {
  content: "\e4e9";
}
.icon-archive:before {
  content: "\e12b";
}
.icon-package:before {
  content: "\e26d";
}
.icon-list:before {
  content: "\e29a";
}
.icon-warning:before {
  content: "\ea07";
}
.icon-enter:before {
  content: "\e379";
}
.icon-movie:before {
  content: "\e046";
}
.icon-file:before {
  content: "\e077";
}
.icon-stack:before {
  content: "\e097";
}
.icon-history:before {
  content: "\e0ff";
}
.icon-wrench:before {
  content: "\e1d7";
}
.icon-tools:before {
  content: "\e1e9";
}
.icon-menu-rounded:before {
  content: "\e2ac";
}
.icon-menu-sq2:before {
  content: "\e2af";
}
.icon-tree:before {
  content: "\e2a7";
}
.icon-home:before {
  content: "\e002";
}
.icon-pencil:before {
  content: "\e00d";
}
.icon-camera:before {
  content: "\e04e";
}
.icon-user:before {
  content: "\e185";
}
.icon-users:before {
  content: "\e186";
}
.icon-vcard:before {
  content: "\e19c";
}
.icon-search:before {
  content: "\e1ba";
}
.icon-lock:before {
  content: "\e1d3";
}
.icon-cog:before {
  content: "\e1e1";
}
.icon-remove:before {
  content: "\e251";
}
.icon-cloud:before {
  content: "\e2b5";
}
.icon-download:before {
  content: "\e2b8";
}
.icon-globe:before {
  content: "\e2c4";
}
.icon-notification:before {
  content: "\e358";
}
.icon-info:before {
  content: "\e363";
}
.icon-blocked:before {
  content: "\e364";
}
.icon-checkmark-circle:before {
  content: "\e368";
}
.icon-close:before {
  content: "\e36b";
}
.icon-close2:before {
  content: "\e36d";
}
.icon-close3:before {
  content: "\e36e";
}
.icon-checkmark:before {
  content: "\e370";
}
.icon-minus:before {
  content: "\e375";
}
.icon-plus:before {
  content: "\e376";
}
.icon-exit:before {
  content: "\e37a";
}
.icon-arrow-up:before {
  content: "\e3b4";
}
.icon-arrow-down:before {
  content: "\e3b6";
}
.icon-menu:before {
  content: "\e418";
}
.icon-paragraph-justify:before {
  content: "\e478";
}
.icon-code:before {
  content: "\e480";
}
.icon-pencil2:before {
  content: "\e011";
}
.icon-cogs:before {
  content: "\e1e0";
}
.icon-eye:before {
  content: "\e2dc";
}
.icon-stack-empty:before {
  content: "\e340";
}
.icon-loop:before {
  content: "\e3a9";
}
.icon-file-powerpoint:before {
  content: "\e4e7";
}
.icon-bars:before {
  content: "\e600";
}
.icon-arrow-up2:before {
  content: "\e604";
}
.icon-arrow-down2:before {
  content: "\e608";
}
.icon-meter2:before {
  content: "\e609";
}
.icon-file-css:before {
  content: "\e601";
}
.icon-folder:before {
  content: "\e0a1";
}
.icon-folder-open:before {
  content: "\e0a2";
}
.icon-radio:before {
  content: "\e065";
}
.icon-bell:before {
  content: "\e10c";
}
.icon-certificate:before {
  content: "\e0b1";
}
.icon-network:before {
  content: "\e2c8";
}
.icon-purge:before {
  content: "\e60e";
}
.icon-questionmark:before {
  content: "\e60d";
}
.icon-origins:before {
  content: "\e60c";
}
.icon-navicon:before {
  content: "\f0c9";
}
.icon-minus-circle:before {
  content: "\f056";
}

